
<div class="footer container-md-fluid fixed-bottom ">

    <div class="footericons d-flex justify-content-center">
        <a href="https://www.facebook.com/mohammed.a.siddiqui.982" target="_blank" class="mx-2 my-2"><i class="fa-brands fa-facebook fa-xl  " style="color: #165eda;" ></i></a>
        <a href="https://www.instagram.com/_mohammad_abdullah_siddiqui_/profilecard/?igsh=ZWwxdXphcGYyc2g0" target="_blank" class="mx-2 my-2"><i class="fa-brands fa-instagram fa-xl  " style="color: #833AB4;"></i></a>
        <a href="https://www.linkedin.com/in/mohd-abdullah-siddiqui-49b504325/" target="_blank" class="mx-2 my-2"><i class="fa-brands fa-linkedin fa-xl " style="color: #0077B5;"></i></a>
        <a href="https://github.com/Noah948" target="_blank" class="mx-2 my-2"><i class="fa-brands fa-github fa-xl" style="color: #fafbfc;"></i></a>
    </div>
    <div class="d-flex justify-content-center"><p class="h5" style="color: #fafbfc;">&copy; Odyssey Private Limited</p>
    </div>
</div>